h1,h2{
  	font-family: "arial,helvetica,sans-serif";
}

p{
  	font-family: "arial,sans-serif";
}

a{
   color: #FFCC00;
}

td,li,body {
	font-size: 10pt;
  	font-family: "arial,sans-serif";
   background: #4477AA;
   color: #FFFFFF;
}
